*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.btn{
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

/* HEADER */

header{
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 50px;
  background-color: black;
  z-index: 800;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

nav div:first-of-type{
  margin-right: 5px;
}

.btn.nav{
  background-color: #666666;
  color:  white;
}

.btn.nav p .fas.fa-th{
  padding-right: 5px;
}

/* MAIN */

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: calc(100vh - 130px );
  background-color: black;
  overflow: auto;
  z-index: 700;
}

.card-box{
  position: relative;
  background-image: url('https://www.fillmurray.com/246/146');
  height: 146px;
  width: 246px;
  margin-bottom: 5px;
}

.name{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 97px;
  height: 27px;
  font-size: 13px;
  padding: 5px;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.name i{
  margin-right: 2px;
}

/* FOOTER */

footer{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background-color: #222222;
  z-index: 800;
  text-align: center;
}

.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.foot:last-of-type{
  background-color: #4a4a4a;
  color: red;
  padding: 5px;
  cursor: pointer;
}

.foot .btn i{
  font-size: 25px;
}

.foot .btn.active{
  color: #32ca29;
}

